.flex-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
img {
  width: 400px;
}
.flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background: lightblue;
}
.flex-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.fb{
    width: 10px;
    height: 10px;
}
.flex-container4{
    display: flex;
}
.appstore{
    width: 100px;
    margin: 3px;
}
body{
    background-color: lightgray;
}
p{
    font-size:medium;
    padding: 0px;
    margin: 0px;
}

.igLogo{
    padding-top: 100px;
}

@media (max-width:640px){
    .leftpane{
        display: none;
    }
    
}